.container {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  z-index: 2;
  text-align: end;
  margin-left: auto;
  right: 0;
  background-color: rgb(213, 213, 213);
  width: 100%;
  padding: 5px;
}
